html, body {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}
body > div.topimg {
	display: grid;
	height: 100%;
	grid-template-columns: 75% 25%;
}
body > div.topimg > .imgwrap {
	align-items: center;
	position: relative;
}
body > div.topimg > .imgwrap > img {
	position: absolute;
	object-fit: cover;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.75s;
}
body > div.topimg > .imgwrap > img.show {
	opacity: 1;
}
body > div.topimg > .titlewrap {
	height: 100%;
	position: relative;
}
body > div.topimg > .titlewrap > * {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.75s;
	z-index: 0;
}
body > div.topimg > .titlewrap > .show {
	opacity: 1;
	z-index: 1;
}
body > div.topimg > .titlewrap > #top > img {
	margin-top: 20%;
	margin-bottom: 10%;
}
body > div.topimg > .titlewrap > * > h1, h2, h3 {
	margin-top: 15%;
	width: 100%;
	text-align: center;
	font-family: 'Cormorant Garamond', serif;
	font-weight: normal;
	padding-left: 16px;
	padding-right: 16px;
	box-sizing: border-box;
}
body > div.topimg > .titlewrap > * > h3 {
	white-space: pre-wrap;
}
body > div.topimg > .titlewrap > * > h1[target]:hover {
	cursor: pointer;
}